@media screen and (max-width: 768px) {
  section {
    height: auto;
    width: 100%;
  }
  #sect1 {
    .menubox li {
      display: none;
    }
    .menubox i {
      height: 10vh;
      /* outline: 2px solid black; */
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 20px;
    }

    .iconbox i {
      font-size: 25px;
    }
    .iconbox button {
      padding: 10px 20px;
    }
    .container {
      flex-direction: column;
    }
    .textbox {
      width: 100%;
      text-align: center;
    }
    .textbox h1{
        /* background-color: aqua; */
        margin: 10px auto;
    }
    .textbox p{
        margin: 10px auto;
    }
    .imgbox {
      width: 60%;
      margin-top: 70px;
      /* outline: 2px solid black; */
    }
    .imgbox .bgbox{
        width: 100%;
    }
    .imgbox .girlimg {
      top: 403px;
      left: 146px;
      width: 52%;
    }
    .minibox {
      top: 760px;
      left: 150px;
    }
    .imgbox .img1 {
      height: 40px;
      width: 218px;

      top: 500px;
      left: 0px;
    }
    .minibox .box{
        width: 150px;
        font-size: 10px;
        padding: 15px;
    }
    .minibox  .box img{
    height: 30px;
    width: 60px ;
  
    
  }
  }
  #sect2{
  .container{
    height: auto;
    margin-top: 260px;
  }
  .box{
    flex-direction: column;
    height: auto;
    padding: 20px 0px ;
    gap: 20px;
  }
}
#sect3{
  .container{
    height: auto;
  }
  .box{
    height: auto;
    flex-direction: column  ;
  }
  .box1{
    width: 100%;
    align-items: center;
  
  }
  .box1 span{
    text-align: center;
    margin-top: 20px;
  }
  .box1 h1{
    /* background-color: aqua; */
    width: 40%;
    font-size: 35px;
    margin-top: 20px;
  }
  .box2 button{
    top: 100px;
    padding: 30px;
    /* left: -70px; */
  }
  .box2{
    /* outline: 2px solid black; */
    margin: 30px 0px;
  }
  .box2 button{
    padding: 15px 30px;
  }
  .card{
    margin-bottom: 20px;
    padding: 20px;
  }
   .card img{
    height: 140px;
  }
}
#sect4{
  .container{
    height: auto;
    flex-direction: column;
    align-items: center;
    
  }
  .imgbox{
    /* outline: 2px solid black; */
    width: 60%;
    margin-bottom: 40px;
  }
  .imgbox img{
    top: 36px;
  }
  .imgbox .img6{
    top:482px;
  }
  .textbox{
    height: auto;
    /* outline: 2px solid black; */
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
   .textbox h4{
    text-align: center;
   }
  .textbox h1{
    font-size: 30px;
    width: 40%;
    text-align: center;
  }
  .textbox p{
    font-size: 15px;
    width: 50%;
    text-align: center;
  }
  .box{
    height: auto;
    /* outline: 2px solid black; */
    margin-bottom: 20px;
  }
  .img4{
    left: 0;
  }
  .img2{
   left: 230px;
  }
  .img3{
    left: 270px;
  }
}
#sect5{
  .container{
    height: auto;
    flex-direction: column;
  }
  .textbox{
    height: auto;
    width: 100%;
    /* outline: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .textbox h5{
    text-align: center;
  }
  .textbox h1{
    text-align: center;
    font-size: 35px;
    width: 50%;
    margin: 15px 20px;
  }
  .textbox p{
    font-size: 18px;
    text-align: center;
    margin: 15px 20px;
  }
  .textbox button{
    margin: 25px 20px;
  }
  .gbox{
    height: auto;
    width: 80%;
    /* background-color: aqua; */
    margin: 40px 0px;
  
  }
}
#footer{
  .box1{
    flex-direction: column;
    /* width: 100%; */
    height: auto;
    /* outline: 2px solid black; */
  }
  .box{
    /* background-color: aqua; */
    width: 50%;
    text-align: center;
  }
  .box p{
    text-align: center;
    /* background-color: red; */
    width: 100%;
    margin: 0;
  }
  .box4{
    /* outline: 2px solid black; */
    width: 25%;
  }
}
}

